body{
    background-color: black;

}   
ul{
    list-style: none;
    margin: 0;
    text-align: center;
}

ul li{
    display: flex;
    font-size: 8vh;
}

ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #dd0c0c;
    background-color: aquamarine;
    height: 100px;
}
.one{
    background-color: yellow;
}


