    doctype html
    html
    head
    title My services
        style 
        include ./assets/style.css

    body
    nav
    ul
    li
        a(href="http://localhost:3003/contact") Contact
    li
        a(href="http://localhost:3003") Home 
    li
        a(href="http://localhost:3003/services") Services


    h1.mine Welcome!!!